.projects-container {
  text-align: center;
  padding: 40px;
  align-items: center;
}

.p-carousel-content {
  gap: 20px;
  display: flex;
  justify-content: center;
}

.project-card {
  position: relative;
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin: 10px;
  height: 410px;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}


.project-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

.p-button-outlined {
  transition: all 0.3s ease-in-out;
}

.p-carousel-prev,
.p-carousel-next {
  background-color: white !important;
  color: #333 !important;
  font-size: 0px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.p-carousel-prev:hover,
.p-carousel-next:hover {
  transform: scale(1.1);
}

.project-rating {
  margin-top: 10px;
  color: #4CAF50;
}

.rating-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-carousel-indicators .p-carousel-indicator button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
}

.p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #4CAF50 !important;
}


@media (max-width <=768px) {
  .projects-container {
    text-align: center;
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .p-carousel-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
  }

  .p-carousel-content {
    justify-content: center;
    align-items: center;
  }

  .project-card {
    height: auto;
    margin: 10px auto;
    width: 20%;
    flex: 0 1 100%;

  }
}


body.light .p-carousel-prev,
body.light .p-carousel-next {
  background-color: transparent !important;
  color: #333 !important;
}

body.dark .p-carousel-prev,
body.dark .p-carousel-next {
  background-color: transparent !important;
  color: #fff !important;
}


bode.light h3,
body.light button {
  color: #333;
}

bode.dark h3,
body.dark button {
  color: #ffffff;
}

body.light .project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

body.dark .project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.project-card>* {
  position: relative;
  z-index: 2;
}