@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.p-speeddial-opened .p-speeddial-action {
  animation: fadeInScale 0.3s ease-in-out forwards;
}

.p-speeddial-closed .p-speeddial-action {
  animation: fadeOutScale 0.3s ease-in-out forwards;
}

.p-speeddial-opened .p-speeddial-item:nth-child(1) .p-speeddial-action {
  animation-delay: 0.1s;
}

.p-speeddial-opened .p-speeddial-item:nth-child(2) .p-speeddial-action {
  animation-delay: 0.2s;
}

.p-speeddial-opened .p-speeddial-item:nth-child(3) .p-speeddial-action {
  animation-delay: 0.3s;
}

.p-speeddial:not(.p-speeddial-opened) .p-speeddial-action {
  animation: fadeOutScale 0.3s ease-in-out forwards;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: right;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-speed-dial {
  position: fixed;
  top: 20px;
  left: 20px;
}

.p-speeddial-opened .p-speeddial-button {
  transform: rotate(135deg);
}

.p-speeddial-action {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pi {
  font-family: 'primeicons', sans-serif !important;
}

.buttonlan button{
 margin: 0 10px;
 color: #fff !important;
 background-color: #4f93bb;
}
body.light  .p-speeddial-button {
  background-color: rgb(250, 252, 140);
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #333;
}
body.dark .p-speeddial-button {
  background-color: #d6edf8;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #333;
}
body.light .card {
  background-image: url("../../assets/1.jpg");
}

body.dark .card {
  background-image: url("../../assets/2.jpg");
}