#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body.light {
  background-color: #ffffff;
  color: #333;
  transition: all 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
  transition: all 0.3s ease;
}

button {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.darklight {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index:  999;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.p-inputswitch.p-highlight .p-inputswitch-slider{
  background-color: #7dc8fa;
}
